@import url(http://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900);

*{
  box-sizing: border-box;
  position: relative;
  font-family: Roboto;
}
body {

}
.hide{
  visibility: hidden;
}
.main , .start{
  height:100vh;
}
.main{
  display:flex;
  align-items:center;
  justify-content:center;
  background:linear-gradient(180deg, rgba(241,0,112,0.75), rgba(175,3,89,0.95)),url('../IMG/bg.jpg');
  background-position: top;
  background-size: cover;
}

#next{
  position: absolute;
  bottom:48px;
}
h1 {
  top:-24px;
  font-weight:bold;
  color: white;
  font-size: 64px;
}
.container{
  margin: 0 auto;
  max-width: 980px;
}
.content{
  padding-top: 60px;
}
.start{
  background-color: #000;
}
h2{
  margin: 0;

  font-weight: normal;
  color: white;
  font-size: 36px;
}
#name-written, button, .long_btn{
  font-weight:100;
}
#name-written {
  margin-top: 16px;
  height: 36px;
  border: 0px;
  border-bottom: 2px solid #CE0160 ;
  width: 450px;
  background-color: rgba(0,0,0,0);
  color:white;
  font-size: 24px;

}
#line{
  background-color:#343434;
  margin-top: 36px;
  width: 100%;
  height: 3px;
}

.flex-area{
  display: flex;
  flex-direction: row;
}
#small-btn{
  margin-top: 72px;
  margin-right: 210px;
  display: grid;
  grid-template-columns: auto auto;

  grid-gap: 12px 45px;
}
.selected, .long_btn, button:hover{
  background-image: linear-gradient(180deg, #E8006B 0%, #AF0359 100%);
}
button{
  width: 144px;
  height: 50px;
  border:none;
  border-radius: 6px;
  font-size: 20px;
  color: white;
  background-color: #313131;
}

#photo{

}

.long_btn{
  height: 60px;
  width: 100%;
  position: absolute;
  bottom: 0;
  font-size: 30px;
  color: white;
  text-align: center;
  line-height:60px;
  border-radius: 0px;
}

#POPup{
  display : grid;
	grid-template-columns : 100%;
  text-align: center;
  position: absolute;
  background-color: rgba(0,0,0,0.75);;
  width: 100vw;
  height: 100vh;
  z-index: 1;
}
#Answer,#Result,#End{  /* center */
  margin: auto;
}
#question{
  font-size: 45px;
  color: #FFFFFF;
  line-height: 45px;
}
#answerBTN{
  margin-top: 36px;
}
#Result, #End{
  font-size: 72px;
  font-weight: bold;
  color: #CE0160;
}
/* #center {
  transform-style: preserve-3d;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
} */
#score {
  transform-style: preserve-3d;
}

#scoretitle{

}
#tag {
  transform-style: preserve-3d;
  display: none;
  position:absolute;
  top: -55px;
  left:50%;
  transform: translateX(-50%);
  font-size:50px;
}
/* #title{
  transform-style: preserve-3d;
  position:absolute;
  top:-125px;
  left:50%;
  transform: translateX(-50%);
  font-size:70px;
  line-height: 70px;
}*/
#End{
  margin-top: -48px;
}
