body {
    background-color: black;
    font-family: 'Inconsolata', monospace;
    color: red;
	display: grid;
    justify-content: center;
    width: 768px;
	grid-template-columns: 100%;
}
h1 {
    font-size: 2em;
    
    text-align: center;
}
button{
	margin-top : 20px;
	margin-left : 10em;
	color : white;
	font-family : 'Inconsolata', monospace;
	background-color :  red ;
	display:block;
	 		font-weight:bold;
		width:85px;
	height:85px;
	background: red;
	font:bold 13px Arial;
	border-radius:50%;
	border: 5 px white;
	color:white;
}
li {
list-style-type: none;}
#BeforeStart{
	width: 400px;
    height: 340px;
    border-radius: 5%;
    background: white;
	color: #ed4f5b;
position : absolute;
   justify-content : center;
  left : 25%;}
 
#photo{ width : 350px;
justify-content : center;} 
#SelectStyle { top : 5em;}
  
#Game{display : none;}

#FinalScore{ display : none;}
