@import url(http://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900);
@import url('https://fonts.googleapis.com/css?family=Over+the+Rainbow');

body {	font-family: 'Roboto';
 	color : white;
    background-image: linear-gradient(-180deg, #000070 0%, #AF0359 100%);
}

input,select {
    color: inherit;
    background-color: inherit;
}

option {
    background-color : #AF0359;
}

#button_welcome,#background,#shadow_volume,#curtain  {
    position: absolute;
}
#play-arrow, #slider_volume {   
    position : fixed;
}

#site-title,.header,.photo_name,#inputLengthPlaylist,#inputTopNthTracks {
	text-align: center;
}

.button,.image {
    border : solid white 0.5em;
}

.image {
    grid-area: picture;
    border-bottom: solid white 4em;
    background-color: black;
}

.button {
    border-radius: 50%;
    transition-property : color,transform;
}

.button, .slider {
    transition-timing-function : ease;
    transition-duration : 0.5s;
}

.sentence {
    display : inline;
}


.button:hover {
    background-color : white;
    color : #AF0359;
}

.button:hover, .slider:hover {
    transform: scale(1.2);
}

#button_welcome {
    width: 13em;
    height : 13em;
}

#button_config,#button_answer {
    width: 12em;
    height : 12em;
}
#button_show,#button_tip{
    width: 6em;
    height : 6em;
}


#button_next {
    width : 10em;
    height : 10em;
}
#div_input {
    width : 250px;
}

#div_button_config {
    width:227px;
    height: 200px;
}


.inputText, .select {
    border : none;
    border-bottom : solid white 2px;
}

#inputName,#inputGenre {
    width : 7em;
}
#inputAnswerSong,#inputAnswerArtist {
    width : auto;
}

#inputLengthPlaylist,#inputTopNthTracks {
    width : 2.3em;
}

#wrapper {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
}

.grid {
    display: grid;
    align-content: space-around;
    justify-items: space-between: 
}

#wrapper,.grid {
    width : 900px;
    height : 500px;
    justify-content: space-between;
    align-items: center;
}

#config {
    grid-template-areas: 
        "header header header "
        "input but picture"
        "sentence but picture";
}

#start {
    grid-template-areas: 
        "header header"
        "picture input"
        "picture but";
}


.header {
    grid-area: header;
    font-size: 3em;
    margin : 0;
    
}

.inputArea {
    grid-area: input;
}

.playlistConfigArea {
    grid-area: sentence;
}

.select {
    appearance:none;
    -moz-appearance:none; /* Firefox */
    -webkit-appearance:none; /* Safari and Chrome */
}

.arrow,.image,.slider,#curtain {
    background-size: cover;
}

#div_cover,#album_pic {
    height : 325px;
}

#div_pic,#genre_pic {
    height : 210px;
    margin : 20px;
}
#div_cover,#album_pic, #div_pic,#genre_pic  {
    width : 325px;
}

.photo_name {
    font-family: 'Over the Rainbow', cursive;
    color : black;
    font-size : 1em;
}
#div_pic {
    transform: scale(1.3);
}


.buttonArea {
    grid-area: but;
}

#site-title,#button_welcome, .inputText, .select {
	font-size: 2em;
}

#up-arrow,#down-arrow {
	width: 10em;
    height: 10em;
}

#up-arrow {
    background-image: url(img/up-arrow.svg);
    transform: translateY(350%);
}

#down-arrow {
    background-image: url(img/down-arrow.svg);
    transform: translateY(-400%);
}

#play-arrow {
    right : 2em;
    top : 2em;
}

#button_welcome, #background {
    right : 0;
    left : 0;
}

#background {
    z-index : -1;
    top :0; bottom : 0;
    left : 0; right : 0;
    background-color: rgba(0, 0, 0, 0.7);

}

.play {
    background-image: url(img/play-arrow.svg);
    animation: playing ease-in-out .5s infinite;
}
.play:hover {
    background-image: url(img/play-arrow_active.svg);
}
.pause {
    background-image: url(img/pause.svg);
    animation: swell linear 1s infinite;
}

.pause:hover {
    background-image: url(img/pause_active.svg);
}

.next-active {
    background-image: url(img/next.svg);
    animation: fadeIn linear 1s forwards;
    animation: playing ease-out 1s infinite;
}

.next-active:hover {
    background-image: url(img/next_active.svg);
}

.slider {
    background-image: url(img/slider_clip_active.svg);
    top : 10em;
    right : 2em;
    -webkit-mask-image: url(img/slider_clip.svg);

    mask-size: 6em 6em;
    transition-property : transform;

}

#shadow_volume {
    z-index: 1;
    opacity: 0;
}

#curtain{
    background-image:url('img/slider_clip.svg');
    right:6em;
    transform: translateX(6em);
    
}

#slider_volume,#shadow_volume,#curtain,#play-arrow {
    width : 6em;
    height: 6em;
}

.arrow,#button_welcome, #wrapper {
    margin: auto;
}
.arrow-active {
    animation: open ease-in-out 0.5s forwards;
}
.up-arrow-inactive {
    animation: upClose ease-in-out 0.5s forwards;
}
.down-arrow-inactive {
    animation: downClose ease-in-out 0.5s forwards;
}

.answer-wrong {
    color : red;
    animation: quiver linear 0.2s forwards;
}

.answer-right {
    color : green;
    animation: swell linear 0.2s forwards;
}

@keyframes open {
    to {transform: translateY(0);}
}

@keyframes upClose {
    from {transform: translateY(0);}
    to {transform: translateY(350%);}
}
@keyframes downClose {
    from {transform: translateY(0);}
    to {transform: translateY(-400%);}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes swell {
    25% {transform: scale(1.05);}
    75% {transform: scale(0.95);}
}

@keyframes playing {
    25% {transform: translateX(-5%);}
    75% {transform: translateX(5%);}
}

@keyframes quiver {
    25% {transform: translateX(.5%);}
    75% {transform: translateX(-.5%);}
}

.page-active, .element-active {
    animation: fadeIn linear 1s forwards;
}

#div_audio, .page-hidden, .element-hidden,.next-hidden {
    display : none;
}

.page-hidden, .element-hidden{
    animation: fadeIn reverse linear 1s forwards;
}